<!-- POOL  -->
<div class="container-fluid introduction-container">
  <div #introductory class="row container" id="introductory-page">
    <div class="col-sm-12 introduction">
      <div class="introductory-text">
        <h2 >Fitness,</h2>
        <h2  > Meets</h2>
        <h2 > Pleasure.</h2>
      </div>
    </div>
  </div>
</div>
<div class="amenities-description container-fluid">
  <div class="description-container row">
    <div class="amenitie-description col-md-6">
      <p class="description">
        A flow-through deck, designed for all-day sunbathing, boasts facilities
      for both recreation and serious athletic pursuits: cabanas,  and elevated tennis courts.
      Missoni Baia’s extensive aquatic amenities—
      an Olympic sized lap pool suitable for professional training,
      hot and cold plunge pools, a children’s pool,
      a casual lounging pool, an outdoor whirlpool spa, and a bayside
      pool with stunning views of Biscayne Bay—
      offer opportunities for both leisurely relaxation
      and serious athletic training.
      </p>
    </div>
    <div class="amenitie-description col-md-6">
      <img class="description-images" alt="Artistic picture of Missoni Baia Pool Amenitie" src="assets/images/amenities/relaxed-in-pool.jpg" />
    </div>
  </div>
</div>

<!-- TENNIS -->
<div class="container-fluid introduction-container">
  <div class="row container" id="tennis-introduction">
    <div class="col-sm-12 introduction">
      <div class="introductory-text" >
        <h2 >Match View</h2>
      </div>
    </div>
  </div>
</div>
<div class="amenities-description container-fluid">
  <div class="row description-container"  style="background: #055303;">
    <div class="amenitie-description col-md-6">
      <img class="description-images"alt="Artistic picture of Missoni Baia Tennis Court Amenitie" src="assets/images/amenities/girl-on-tennis-court.jpg" />
    </div>
    <div class="amenitie-description col-md-6">
      <p class="description">
        Practice your backhand or polish your doubles
        game. You’ll have a feeling of floating high above
        the city and the water as you take in sweeping
        vistas of Biscayne Bay and the skyline of Miami
        from the coveted outdoor tennis court.
        Expansive indoor-outdoor entertaining areas,
        including a terrace lounge and a double-height bayside
        lounge with exceptional Biscayne bay views,
        creating a physical connection to sky and sea.
      </p>
    </div>
  </div>
</div>
<!-- GYM -->
<div class="container-fluid introduction-container">
  <div class="row container" id="gym-introduction">
    <div class="col-sm-12 introduction">
      <div class="introductory-text" >
        <h2 >Serious</h2>
        <h2 >Fitness.</h2>
      </div>
    </div>
  </div>
</div>
<div class="amenities-description container-fluid">
  <div class="row description-container"  style="background: #EA5994;">
    <div class="amenitie-description col-md-6">
      <p class="description">
        With 180-degree views of Biscayne Bay, the 3,208-
    square-foot state-of-the-art gym equipped with
    the latest high-end weight and cardio equipment,
    a private yoga studio, private training room,
    and men’s and women’s locker rooms inspires
    a balanced life of health and wellness.
      </p>
    </div>
    <div class="amenitie-description col-md-6">
      <img class="description-images" alt="Artistic picture of Missoni Baia Gym Amenitie" src="assets/images/amenities/gym-lifts.jpg" />
    </div>
  </div>
</div>

<!-- SPA -->
<div class="container-fluid introduction-container">
  <div class="row container" id="spa-introduction">
    <div class="col-sm-12 introduction">
      <div class="introductory-text" >
        <h2 >Relax, and</h2>
        <h2 >Recharge.</h2>
      </div>
    </div>
  </div>
</div>
<div class="amenities-description container-fluid">
  <div class="row description-container"  style="background: #FFCD6A;">
    <div class="amenitie-description col-md-6">
      <img class="description-images" alt="Artistic picture of Missoni Baia Spa Amenitie" src="assets/images/amenities/relaxed-girl.jpg" />
    </div>
    <div class="amenitie-description col-md-6">
      <p class="description">
        Missoni Miami Condo will also be the home of Miami’s largest and most
        elegantly appointed spa unlike any other in Miami
        Designed with a serene, sophisticated palette, the spa features private massage treatment rooms with showers,
        outdoor treatment terraces with spectacular views of
        Biscayne Bay and the Miami skyline, and even men’s and women’s steam saunas .
      </p>
    </div>
  </div>
</div>

<!-- MAP -->
<div class="amenities-description container-fluid">
  <div class="row description-container"  style="background: white;">
    <div class="amenitie-description col-md-12">
      <img class="description-images" style="max-width:100%;"
       src="assets/images/amenities/Missoni-Amenities-Map.jpg" alt="Map of Missoni Baia Amenities" />
    </div>
  </div>
</div>
<div
 [ngClass]="{'contact-hover': collapseService.isCollapsed}" class="contact-wrapper col-sm-3">
  <app-contact [title]="'Contact Sales Center'" [button-title]="'Contact Now'"
   [removeBorder]='true'></app-contact>
</div>
