<header>
  <nav class="navbar navbar-default">
    <div class="mask">
      <div class="blurred"></div>
    </div>
      <div class="navbar-inner container">
          <div class="navbar-header">
              <a id='app-header' (click)="setTitle('Missoni Baia - Home')" class='navbar-brand' routerLink="/">
              <img src='assets/images/missoni.svg' alt='Missoni Baia Luxury' /></a>
          </div>
          <button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapsible" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarCollapsible">
              <ul id="nav-list" class="nav navbar-nav">
                  <li (click)="setTitle('Missoni Baia - Floor Plans')" id="navMenuButton" routerLinkActive="item-active" class="navbarItem">
                      <a routerLink="/floor-plans">
                           Floor Plans </a>
                  </li>
                  <li (click)="setTitle('Missoni Baia - Price List')" routerLinkActive="item-active" class="navbarItem">
                      <a routerLink="/price-list">
                           Price List</a>
                  </li>
                  <li (click)="setTitle('Missoni Baia - Amenities')" routerLinkActive="item-active" class="navbarItem">
                      <a routerLink="/amenities">Amenities</a>
                  </li>
                  <li (click)="setTitle('Missoni Baia - Team')" routerLinkActive="item-active" class="navbarItem">
                      <a routerLink="/team">
                          The Team</a>
                  </li>
                  <li class="btn-group navbarItem" dropdown>
                      <a id="dropdownBtn" dropdownToggle class="dropdown-toggle">
                        Contact Us <span class="caret"></span>
                      </a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li class="menuitem"><h4>Call Us</h4></li>
                      <li class="menuitem" role="menuitem"><a href="tel:786-325-3373"><i class="fa fa-mobile"></i>(786)-325-3373 </a></li>
                      <li class="menuitem" role="menuitem"><a href="tel:646-460-5718"><i class="fa fa-mobile"></i>(646)-460-5718 </a></li>
                      <li class="menuitem" class="divider dropdown-divider"></li>
                      <li class="menuitem"><h4>Email Us</h4></li>
                      <li class="menuitem" role="menuitem"><a href="mailto:info@missonimiamicondo.com">info@missonimiamicondo.com</a></li>
                    </ul>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4 footer-left">
        <div class="footer-header">
            <a id='footer-header'  routerLink="/">
            <img src='assets/images/missoni.svg' alt='Missoni Baia Luxury' /></a>
        </div>
        <div class="footer-left-info">
          <p><i class='fa fa-mobile'></i> (786)-325-3373</p>
          <p><i class='fa fa-mobile'></i> (646)-460-5718</p>
          <p><i class='fa fa-envelope-o'></i>info@missonimiamicondo.com</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 footer-right">
        <div class="footer-right-info">
          <p>Broker: MIAMI NEW REALTY</p>
          <img style="filter: grayscale()" src="assets/images/misc/miami-new-realty-logo.jpg" alt="Miami New Realty Logo"  />
        </div>
      </div>
    </div>
  </div>
</footer>
