<div class="container-fluid">
  <div class="row developer-wrapper">
    <h2 class="header background"><span>Missoni</span></h2>
    <div class="col-sm-6 developer-description">
      <div class="description">
        <p class="">
          When people speak about Missoni, they
tend to refer to “the Missonis”—since
the story of the brand is inseparable
from the story of the couple. Ottavio was
a Dalmatian athletics champion with a
background in sportswear, and Rosita
an English student whose family owned
an apparel and household linen business.
The two met in 1948 and married in 1953.
Combining their experiences led to the
birth of a company that created one of the
finest examples of Italian products: a style
that’s absolutely unmistakable for its
mélange of colors, stitches, and blended
iridescent hues—a style never seen before
that soon became known worldwide.
        </p>
      </div>
      <div class="second-description">
        <p>
          In the beginning there were only stripes,
since that’s all the machines could produce
at the time. But as technology advanced,
the couple developed more patterns that
grew increasingly original and intricate,
until each design became a virtual work
of art. Today, the entire family continues
to be involved in the business. The Missonis’ daughter, Angela, has been the Creative
Director of the company since 1997, when
Rosita relinquished that role to her. Her
brother, Luca, oversees the Missoni archives
and the company’s art exhibitions.
Since 1997, Rosita Missoni has been the
Creative Director of the Missoni Home line,
a successful translation of the fashion
brand’s bright colors and bold patterns to
residential furnishings and textiles. Home
is one of Rosita’s greatest passions. Life
choices and lifestyles inspire the creative
philosophy of Missoni Home, which over
the years has expanded beyond fabrics
to also include furnishings. Rosita says
that she sees her work of furnishing as
“creating a habitat that’s organized but
also informal, versatile, welcoming, and
perhaps most of all, imbued with a sense
of freedom.”
        </p>
      </div>
    </div>
    <div class="col-sm-6 developer-img">
      <img alt="Photo of Missoni Family" src="assets/images/misc/Missoni.jpg" />
    </div>
  </div>
  <div class="row developer-wrapper">
    <h2 class="header background"><span>OKO Group</span></h2>
    <div class="col-sm-6 developer-description">
      <div class="description">
        <p class="">
          Vladislav Doronin is one of europe ’s most successful and well - respected developers.
          is passion for collaborating with world
          - class architects and designers, and his personal relationship with the missoni family,
          has led to this first – ever residential collaboration for the iconic italian fashion house.
        </p>
      </div>
      <div class="second-description">
        <p>
          A true trailblazer, Doronin played a central role
in modernizing Moscow’s business; and as
Founder and Chairman of Capital Group,
Russia’s leading developer, he was a major
force in transforming the city’s skyline. Forbes
described him as “the businessman who
changed Moscow for the better.” Under Doronin’s
visionary leadership, Capital Group has built
more than 75 million square feet of worldclass
commercial, retail, and luxury residential
space across 71 high-end projects, 63 of them
completed and 8 currently in construction.
Doronin has collaborated with such renowned
designers as Jacques Grange, Skidmore,
Owings & Merrill, and the late Pritzker Prizewinning
architect Zaha Hadid.
As owner and chairman of Aman, the world’s
most admired luxury hospitality brand, Doronin
embraces Aman’s rigorous attention to detail
in design, architecture, and service, and the
brand’s ethos of hospitality and wellness.
In his role as Chairman of OKO Group,
a development company focused on the US
market, Doronin is building on the strength of
this experience with luxury residential and
retail projects, including Missoni Baia and two
future luxury residential and retail projects in
Miami. He is also planning a luxury hospitality,
retail, and residential project at New York’s
landmark Crown Building, which stands at the
crossroads of global luxury and commerce:
Fifth Avenue and 57th Street.
Beyond his business activities, Doronin is an
active philanthropist and patron of the arts.
A supporter of numerous charitable, environmental,
healthcare, welfare, and cultural
initiatives, Doronin was granted a first-grade
order by Patriarch Alexy II of Moscow and All
Russia. For more than 10 years, Doronin has
contributed to the emergence of young
Russian and international artists.
In 2009, he launched the Capital Group
Foundation, which has supported such major
cultural events as Photobiennale, Prix Pictet,
and the Albert Watson and Arne Quinze
exhibitions, among numerous other projects.
        </p>
      </div>
    </div>
    <div class="col-sm-6 developer-img">
      <img alt="Picture of Vladislav Doronin (chairman of Oko Group)" src="assets/images/misc/OKO-GROUP-DEVELOPER.jpg" />
    </div>
  </div>
  <div class="row developer-wrapper">
    <h2 class="header background"><span>OB Group</span></h2>
    <div class="col-sm-6 developer-description">
      <div class="description">
        <p class="">
          OB Group is a Miami-based real estate development firm founded by entrepreneur Oleg Baybakov.
          The company brings Baybakov’s strategic vision for creating transformative real estate opportunities
          to development sites in Miami and New York.
        </p>
      </div>
      <div class="second-description">
        <p>
          Baybakov’s flagship real estate venture is the Moscow International Business Center, known as Moscow City,
          a 148-acre financial district with more than a dozen class-A office towers on par with London’s Canary Wharf.
          In 2008, prior to the global financial crisis, Baybakov engineered the sale of Moscow City for close to $1 billion USD.
          Born in Baku and raised in Moscow, Baybakov emerged as a visionary entrepreneur in the new economic landscape created by the transition of the Soviet Union to a market economy.
          An engineer by education, Baybakov served as Chief Administrative Officer of Norilsk Nickel, the world’s largest producer of nickel and palladium, with more than 100,000 employees.
          Baybakov first became involved in real estate while at Norilsk Nickel, overseeing the redevelopment of a company-run hotel and wellness center in Sochi,
          the privatization and redevelopment of a Russian premier-league soccer stadium owned by the company in Moscow, and several other projects.
          An avid art collector, Baybakov is regularly recognized by ARTNews as one of the world’s top 200 collectors and is a committed champion of art and culture. In 2008, Baybakov backed his daughter Maria Baibakova in establishing Baibakov Art Projects – an organization that supports the arts, education and women’s empowerment. The organization received international acclaim for its exhibition activity that served as a catalyst to transform the derelict Red October Chocolate Factory in Moscow into a creative cluster. Through the efforts of the family foundation, Baybakov’s philanthropic giving extends to Barnard College, The Guggenheim, the New Museum and other cultural institutions in the US.</p>
      </div>
    </div>
    <div class="col-sm-6 developer-img">
      <img style="filter: grayscale()"
       alt="Picture of Oleg Baybakov (Founder of OB Group)"
       src="assets/images/misc/oleg-baybakov-portrait.jpg" />
    </div>
  </div>
  <div class="row developer-wrapper">
    <h2 class="header background"><span>Cain International</span></h2>
    <div class="col-sm-6 developer-description">
      <div class="description">
        <p class="">
          Cain International is dedicated to bringing funding and financial expertise to the goal of creating value over the long term.
        </p>
      </div>
      <div class="second-description">
        <p>
          Cain International is a patient investor - it is permanently financed and therefore has greater flexibility to pursue significant opportunities that need to mature and develop over time.
          In its ﬁrst year, Cain International was voted Financier of the Year at the 2015 Property Awards.
          Cain International was named Residential Financier of the Year at the 2016 RESI Awards,
          and CEO Jonathan Goldstein was named Entrepreneur of the Year at the 2017 Property Awards.
        </p>
      </div>
    </div>
    <div class="col-sm-6 developer-img">
      <img style="filter: grayscale()"
       alt="Picture of Oleg Baybakov (Founder of OB Group)"
       src="assets/images/misc/Islington-Square.jpg" />
    </div>
  </div>
  <div class="row general-team">
    <h2 class="header background"><span>The Team</span></h2>
    <div class="col-sm-4">
      <div id="architect" class="general"></div>
      <h3 class="team-header background"><span>Hani Rashid</span></h3>
      <h4 class="team-subheader">Founder & Partner of Asymptote Architecture</h4>
      <div class="second-description team-description">
        <p>
          The name asymptote is derived from the mathematical
          term, which describes the idea of a vanishing point
          that’s never reached. philosophically it’s about
          the creative process being a continual journey to
          the infinite.Our roots are in the art world, where we’ve
          always maintained a foothold. We use art as a
          means of research and experimentation for
          our architecture. Art will always be a big part of our architecture.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div id="designer" class="general"></div>
      <h3 class="team-header background"><span>Paris Forino</span></h3>
      <h4 class="team-subheader">Founder & CEO of Paris Forino Interior Design</h4>
      <div class="second-description team-description">
        <p>
          Paris forino is setting a new
          standard for refined, relaxed,
          luxurious interiors.Forino’s clean, welcoming style puts a fresh, modern spin on
          traditional materials and details. She looks to her surroundings
          for inspiration, from the Art Deco glory of the Chrysler Building
          to the historic doorways of Paris and Stockholm, where her
          firm is designing the interiors of a new 70-residence property
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div id="chief" class="general"></div>
      <h3 class="team-header background"><span>Angela Missoni</span></h3>
      <h4 class="team-subheader">Creative Director of Missoni</h4>
      <div class="second-description team-description">
        <p>
          The Missoni brand is very much synonymous
with the Missoni family. Angela Missoni,
the founding couple’s daughter, took over
from Rosita as the firm’s Creative Director
in 1997 and now leads the legendary label.
As the creative force behind the entire house
of Missoni, Angela has taken the company
in new directions while remaining true to
its heritage.
        </p>
      </div>
    </div>
  </div>
</div>
<div
 [ngClass]="{'contact-hover': collapseService.isCollapsed}" class="contact-wrapper col-sm-3">
  <app-contact [title]="'Contact Sales Center'" [button-title]="'Contact Now'"
   [removeBorder]='true'></app-contact>
</div>
